// Import modernize sheet
@import './node_modules/modernize/modernize.css';

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800;900&display=swap');

// Add in sass breakpoints
$breakpoint-small: 375px;
$breakpoint-medium: 768px;
$breakpoint-large: 1440px;

// Set the brand colours as css variables
:root {
  --purple: rgb(102, 108, 163);
  --dark-purple: #13183f;
  --grey: rgb(131, 134, 154);
  --pink: rgb(247, 71, 128);
  --light-pink: rgb(255, 167, 195);
  --red-to-pink: linear-gradient(rgb(240, 42, 166), rgb(255, 111, 72));
  --blue-to-purple: linear-gradient(rgb(72, 81, 255), rgb(240, 42, 166));
  --body-gradient: linear-gradient(#ffffff, #f0f1ff);
}

// Define styles for elements
// Body holds all elements on the page
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  background-image: var(--body-gradient);
}

// The main element holds all the cards
main {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100vw;
}

// The footer element has the bar down the bottom
footer {
  background-color: var(--dark-purple);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  min-width: 100vw;
}

// Class definitions
.get-started-footer {
  color: white;
}

.heading-xl {
  // margin: 1rem 1rem;
  font-family: 'Plus Jakarta Sans';
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--dark-purple);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 50%);
}

// Styles for id attributes
// For the button at the top of the page
#get-started-button {
  width: 167px;
  height: 56px;
  border-radius: 50px;
  border-style: none;
  background-image: var(--red-to-pink);
  color: white;
  font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
  font-weight: 700;
}
